*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-size: cover;
    background-position: center;
}
.menu-bar{
    text-align: right middle;
    background: none;
    font-size: 15px;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: white;
}
.menu-bar ul li{
    width: 80px;
    margin: 5px;
    padding: 5px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: #6058b3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.active, .menu-bar ul li:hover{
    background: #2bab0d;
    border-radius: none;
}